<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name= "cn" connectionString="Data Source = VICTOR-ASUS-ROG\SQLEXPRESS;Initial Catalog  = lab1;Integrated Security  = True"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="ParentTableName" value="Jenti"/>
    <add key="ChildTableName" value="Pneuri"/>
    <add key="ChildNumberOfColumns" value="4"/>
    <add key="ParentColumnNames" value="codJ,material,codM"/>
    <add key="ChildColumnNames" value="codP,marca,sezon,codJ"/>
    <add key="legatura" value ="codJ"/>
    <add key="ColumnNamesInsertParameters" value ="@codP,@marca,@sezon,@codJ"/>
    <add key= "select" value="Select * from Jenti" />
    <add key="selectChild" value="SELECT * FROM Pneuri WHERE codJ = @codJ"/>
    <add key ="UpdateQuery" value="UPDATE Pneuri SET codP=@codP, marca=@marca, sezon=@sezon, codJ=@codJ WHERE codP=@codP"/>
    <add key="delete" value="Delete from Pneuri where codP=@codP"/>


    <!--<add key="ParentTableName" value="Piloti"/>
    <add key="ChildTableName" value="Contracte"/>
    <add key="ChildNumberOfColumns" value="3"/>
    <add key="ParentColumnNames" value="codPil,nume,varsta,aniCondus"/>
    <add key="ChildColumnNames" value="codC,codPil,ani"/>
    <add key="legatura" value ="codPil"/>
    <add key="ColumnNamesInsertParameters" value ="@codC,@codPil,@ani"/>
    <add key= "select" value="Select * from Piloti" />
    <add key="selectChild" value="SELECT * FROM Contracte WHERE codPil = @codPil"/>
    <add key ="UpdateQuery" value="UPDATE Contracte SET codC=@codC, codPil=@codPil, ani=@ani WHERE codPil=@codPil"/>
    <add key="delete" value="Delete from Contracte where codC=@codC"/>-->

  </appSettings>
</configuration>